{% extends "index.html" %} 

{% block title %}Covid-19 Resouces{% endblock %}

{% block content %}

<header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/python.jpeg" alt="">
                    <div class="intro-text">
                        <h1 class="name">Coronavirus Resources</h1>
                        <hr class="star-light">
                        <span class="skills">Come Join the Discussion!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3> Blog about Vaccine Ideas!</h3>

                    <form action="." method="POST">
                    <input type="text" name="text">
                    <input class="btn btn-primary" type="submit" name="my-form" value="Send">
                    </form>
                </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
